/* side column */
#framework-name-header {
    font-weight: 600;
}

ul {
    list-style-type: none;
}

ul.layer {
    padding-left: var(--custom-padding, 0);
    list-style: none;
    cursor: pointer;
}

.layer li {
    transition: transform 0.6s;
}

.layer li:hover {
    transform: scale(1.02) translateX(0.4rem);
}

/* article settings */
.wide-container {
    max-width: 1550px !important;
}

/* footer additional */
.footer-link-logo {
    padding-top: 0.2rem;
    max-width: 24px;
    opacity: 0.8;
}